## Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## load dataset

In [2]:
df = pd.read_csv("ecommerce_dynamic_pricing_dataset.csv")
df

,Transaction_ID,Product_ID,Product_Category,Price,Discount,Customer_ID,Customer_Age,Customer_Gender,Purchase_Timestamp,Payment_Method,Shipping_Type,Review_Rating,Purchase Probability
0,T180787,P8392,Books,15.58,0.46,C66501,49,Male,3/31/2024 14:16,Credit Card,Express,1,0
1,T750990,P5778,Books,62.00,12.27,C12853,26,Other,2/10/2024 9:31,Debit Card,Express,2,1
2,T627626,P5136,Home & Kitchen,958.29,61.67,C74523,23,Male,5/23/2024 13:04,Debit Card,Express,4,0
3,T602068,P5945,Electronics,657.01,135.43,C31822,33,Female,6/22/2024 9:20,PayPal,Standard,1,0
4,T286338,P8427,Home & Kitchen,147.16,22.23,C84859,40,Other,5/16/2024 6:15,Credit Card,Express,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2039,T788316,P7147,Books,85.11,22.97,C99239,35,Other,4/26/2024 14:02,Debit Card,Express,4,1
2040,T949864,P5188,Home & Kitchen,716.83,1.72,C10475,60,Female,3/27/2024 15:17,PayPal,Express,5,1
2041,T612184,P6678,Electronics,629.02,89.18,C72027,55,Other,9/28/2024 5:21,Net Banking,Standard,2,0
2042,T835766,P8422,Clothing,827.75,105.73,C73616,63,Male,7/28/2024 21:04,PayPal,Standard,5,1
2043,T654714,P3675,Electronics,448.96,119.11,C83185,19,Female,11/14/2024 6:49,PayPal,Express,4,1

## Data cleaning

In [3]:
df.shape

(2044, 13)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2044 entries, 0 to 2043
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction_ID        2044 non-null   object
 1   Product_ID            2044 non-null   object
 2   Product_Category      2044 non-null   object
 3   Price                 2044 non-null   float64
 4   Discount              2044 non-null   float64
 5   Customer_ID           2044 non-null   object
 6   Customer_Age          2044 non-null   int64
 7   Customer_Gender       2044 non-null   object
 8   Purchase_Timestamp    2044 non-null   object
 9   Payment_Method        2044 non-null   object
 10  Shipping_Type         2044 non-null   object
 11  Review_Rating         2044 non-null   int64
 12  Purchase Probability  2044 non-null   int64
dtypes: float64(2), int64(3), object(8)
memory usage: 207.7+ KB

In [5]:
df.head()

,Transaction_ID,Product_ID,Product_Category,Price,Discount,Customer_ID,Customer_Age,Customer_Gender,Purchase_Timestamp,Payment_Method,Shipping_Type,Review_Rating,Purchase Probability
0,T180787,P8392,Books,15.58,0.46,C66501,49,Male,3/31/2024 14:16,Credit Card,Express,1,0
1,T750990,P5778,Books,62.00,12.27,C12853,26,Other,2/10/2024 9:31,Debit Card,Express,2,1
2,T627626,P5136,Home & Kitchen,958.29,61.67,C74523,23,Male,5/23/2024 13:04,Debit Card,Express,4,0
3,T602068,P5945,Electronics,657.01,135.43,C31822,33,Female,6/22/2024 9:20,PayPal,Standard,1,0
4,T286338,P8427,Home & Kitchen,147.16,22.23,C84859,40,Other,5/16/2024 6:15,Credit Card,Express,2,1

In [6]:
df.isnull().sum()

Transaction_ID          0
Product_ID              0
Product_Category        0
Price                   0
Discount                0
Customer_ID             0
Customer_Age            0
Customer_Gender         0
Purchase_Timestamp      0
Payment_Method          0
Shipping_Type           0
Review_Rating           0
Purchase Probability    0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(799)

In [8]:
duplicates = df.loc[df.duplicated(), :]

In [9]:
duplicates

,Transaction_ID,Product_ID,Product_Category,Price,Discount,Customer_ID,Customer_Age,Customer_Gender,Purchase_Timestamp,Payment_Method,Shipping_Type,Review_Rating,Purchase Probability
36,T882114,P6271,Clothing,531.40,36.93,C62869,42,Male,2/6/2024 0:57,Credit Card,Express,2,0
70,T445043,P4962,Electronics,955.32,259.32,C56093,41,Female,4/18/2024 11:56,Credit Card,Express,3,0
92,T548964,P7534,Clothing,730.98,52.20,C94256,70,Other,12/19/2024 3:13,Debit Card,Standard,4,0
99,T417121,P6673,Home & Kitchen,979.25,283.78,C19825,44,Other,7/29/2024 9:22,Debit Card,Standard,4,1
120,T689703,P4543,Electronics,521.92,46.66,C44226,35,Female,5/16/2024 19:52,Credit Card,Standard,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2037,T117079,P4104,Home & Kitchen,495.77,72.91,C98892,37,Male,7/1/2024 10:11,PayPal,Express,3,1
2038,T122607,P5509,Home & Kitchen,734.73,172.23,C37358,69,Other,7/20/2024 7:55,Credit Card,Express,5,1
2039,T788316,P7147,Books,85.11,22.97,C99239,35,Other,4/26/2024 14:02,Debit Card,Express,4,1
2041,T612184,P6678,Electronics,629.02,89.18,C72027,55,Other,9/28/2024 5:21,Net Banking,Standard,2,0
2042,T835766,P8422,Clothing,827.75,105.73,C73616,63,Male,7/28/2024 21:04,PayPal,Standard,5,1

In [10]:
df.drop_duplicates(inplace = True)

In [11]:
df

,Transaction_ID,Product_ID,Product_Category,Price,Discount,Customer_ID,Customer_Age,Customer_Gender,Purchase_Timestamp,Payment_Method,Shipping_Type,Review_Rating,Purchase Probability
0,T180787,P8392,Books,15.58,0.46,C66501,49,Male,3/31/2024 14:16,Credit Card,Express,1,0
1,T750990,P5778,Books,62.00,12.27,C12853,26,Other,2/10/2024 9:31,Debit Card,Express,2,1
2,T627626,P5136,Home & Kitchen,958.29,61.67,C74523,23,Male,5/23/2024 13:04,Debit Card,Express,4,0
3,T602068,P5945,Electronics,657.01,135.43,C31822,33,Female,6/22/2024 9:20,PayPal,Standard,1,0
4,T286338,P8427,Home & Kitchen,147.16,22.23,C84859,40,Other,5/16/2024 6:15,Credit Card,Express,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,T806372,P3018,Electronics,401.91,90.47,C45368,69,Other,5/15/2024 14:06,PayPal,Express,2,0
2035,T774644,P9838,Home & Kitchen,237.00,66.90,C25264,40,Other,2/29/2024 5:23,Credit Card,Express,4,1
2036,T147329,P4051,Home & Kitchen,345.71,87.01,C80916,64,Male,12/4/2024 22:53,Credit Card,Standard,5,1
2040,T949864,P5188,Home & Kitchen,716.83,1.72,C10475,60,Female,3/27/2024 15:17,PayPal,Express,5,1
2043,T654714,P3675,Electronics,448.96,119.11,C83185,19,Female,11/14/2024 6:49,PayPal,Express,4,1

In [12]:
df.isna().sum()

Transaction_ID          0
Product_ID              0
Product_Category        0
Price                   0
Discount                0
Customer_ID             0
Customer_Age            0
Customer_Gender         0
Purchase_Timestamp      0
Payment_Method          0
Shipping_Type           0
Review_Rating           0
Purchase Probability    0
dtype: int64

## Standarized Text Columns

In [13]:
cat_cols = df.select_dtypes(include=['object']).columns

In [14]:
cat_cols

Index(['Transaction_ID', 'Product_ID', 'Product_Category', 'Customer_ID',
       'Customer_Gender', 'Purchase_Timestamp', 'Payment_Method',
       'Shipping_Type'],
      dtype='object')

In [15]:
df[cat_cols] = df[cat_cols].apply(lambda x:x.str.strip().str.title())

In [16]:
df['Purchase_Timestamp'] = pd.to_datetime(df['Purchase_Timestamp'],errors = 'coerce')

In [17]:
df

,Transaction_ID,Product_ID,Product_Category,Price,Discount,Customer_ID,Customer_Age,Customer_Gender,Purchase_Timestamp,Payment_Method,Shipping_Type,Review_Rating,Purchase Probability
0,T180787,P8392,Books,15.58,0.46,C66501,49,Male,2024-03-31 14:16:00,Credit Card,Express,1,0
1,T750990,P5778,Books,62.00,12.27,C12853,26,Other,2024-02-10 09:31:00,Debit Card,Express,2,1
2,T627626,P5136,Home & Kitchen,958.29,61.67,C74523,23,Male,2024-05-23 13:04:00,Debit Card,Express,4,0
3,T602068,P5945,Electronics,657.01,135.43,C31822,33,Female,2024-06-22 09:20:00,Paypal,Standard,1,0
4,T286338,P8427,Home & Kitchen,147.16,22.23,C84859,40,Other,2024-05-16 06:15:00,Credit Card,Express,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,T806372,P3018,Electronics,401.91,90.47,C45368,69,Other,2024-05-15 14:06:00,Paypal,Express,2,0
2035,T774644,P9838,Home & Kitchen,237.00,66.90,C25264,40,Other,2024-02-29 05:23:00,Credit Card,Express,4,1
2036,T147329,P4051,Home & Kitchen,345.71,87.01,C80916,64,Male,2024-12-04 22:53:00,Credit Card,Standard,5,1
2040,T949864,P5188,Home & Kitchen,716.83,1.72,C10475,60,Female,2024-03-27 15:17:00,Paypal,Express,5,1
2043,T654714,P3675,Electronics,448.96,119.11,C83185,19,Female,2024-11-14 06:49:00,Paypal,Express,4,1

## Feature Engineering

In [18]:
df['Dicount_pt'] = df['Discount'] /(df['Price']+df['Discount'])

In [19]:
df

,Transaction_ID,Product_ID,Product_Category,Price,Discount,Customer_ID,Customer_Age,Customer_Gender,Purchase_Timestamp,Payment_Method,Shipping_Type,Review_Rating,Purchase Probability,Dicount_pt
0,T180787,P8392,Books,15.58,0.46,C66501,49,Male,2024-03-31 14:16:00,Credit Card,Express,1,0,0.028678
1,T750990,P5778,Books,62.00,12.27,C12853,26,Other,2024-02-10 09:31:00,Debit Card,Express,2,1,0.165208
2,T627626,P5136,Home & Kitchen,958.29,61.67,C74523,23,Male,2024-05-23 13:04:00,Debit Card,Express,4,0,0.060463
3,T602068,P5945,Electronics,657.01,135.43,C31822,33,Female,2024-06-22 09:20:00,Paypal,Standard,1,0,0.170903
4,T286338,P8427,Home & Kitchen,147.16,22.23,C84859,40,Other,2024-05-16 06:15:00,Credit Card,Express,2,1,0.131236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,T806372,P3018,Electronics,401.91,90.47,C45368,69,Other,2024-05-15 14:06:00,Paypal,Express,2,0,0.183740
2035,T774644,P9838,Home & Kitchen,237.00,66.90,C25264,40,Other,2024-02-29 05:23:00,Credit Card,Express,4,1,0.220138
2036,T147329,P4051,Home & Kitchen,345.71,87.01,C80916,64,Male,2024-12-04 22:53:00,Credit Card,Standard,5,1,0.201077
2040,T949864,P5188,Home & Kitchen,716.83,1.72,C10475,60,Female,2024-03-27 15:17:00,Paypal,Express,5,1,0.002394
2043,T654714,P3675,Electronics,448.96,119.11,C83185,19,Female,2024-11-14 06:49:00,Paypal,Express,4,1,0.209675

In [20]:
df['Product_Popularity'] = df.groupby('Product_ID')['Product_ID'].transform('count')

In [21]:
df

,Transaction_ID,Product_ID,Product_Category,Price,Discount,Customer_ID,Customer_Age,Customer_Gender,Purchase_Timestamp,Payment_Method,Shipping_Type,Review_Rating,Purchase Probability,Dicount_pt,Product_Popularity
0,T180787,P8392,Books,15.58,0.46,C66501,49,Male,2024-03-31 14:16:00,Credit Card,Express,1,0,0.028678,1
1,T750990,P5778,Books,62.00,12.27,C12853,26,Other,2024-02-10 09:31:00,Debit Card,Express,2,1,0.165208,1
2,T627626,P5136,Home & Kitchen,958.29,61.67,C74523,23,Male,2024-05-23 13:04:00,Debit Card,Express,4,0,0.060463,1
3,T602068,P5945,Electronics,657.01,135.43,C31822,33,Female,2024-06-22 09:20:00,Paypal,Standard,1,0,0.170903,1
4,T286338,P8427,Home & Kitchen,147.16,22.23,C84859,40,Other,2024-05-16 06:15:00,Credit Card,Express,2,1,0.131236,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,T806372,P3018,Electronics,401.91,90.47,C45368,69,Other,2024-05-15 14:06:00,Paypal,Express,2,0,0.183740,1
2035,T774644,P9838,Home & Kitchen,237.00,66.90,C25264,40,Other,2024-02-29 05:23:00,Credit Card,Express,4,1,0.220138,1
2036,T147329,P4051,Home & Kitchen,345.71,87.01,C80916,64,Male,2024-12-04 22:53:00,Credit Card,Standard,5,1,0.201077,1
2040,T949864,P5188,Home & Kitchen,716.83,1.72,C10475,60,Female,2024-03-27 15:17:00,Paypal,Express,5,1,0.002394,1
2043,T654714,P3675,Electronics,448.96,119.11,C83185,19,Female,2024-11-14 06:49:00,Paypal,Express,4,1,0.209675,1

In [22]:
df['Price_After_Discount'] = df['Price'] - df['Discount']

In [23]:
df

,Transaction_ID,Product_ID,Product_Category,Price,Discount,Customer_ID,Customer_Age,Customer_Gender,Purchase_Timestamp,Payment_Method,Shipping_Type,Review_Rating,Purchase Probability,Dicount_pt,Product_Popularity,Price_After_Discount
0,T180787,P8392,Books,15.58,0.46,C66501,49,Male,2024-03-31 14:16:00,Credit Card,Express,1,0,0.028678,1,15.12
1,T750990,P5778,Books,62.00,12.27,C12853,26,Other,2024-02-10 09:31:00,Debit Card,Express,2,1,0.165208,1,49.73
2,T627626,P5136,Home & Kitchen,958.29,61.67,C74523,23,Male,2024-05-23 13:04:00,Debit Card,Express,4,0,0.060463,1,896.62
3,T602068,P5945,Electronics,657.01,135.43,C31822,33,Female,2024-06-22 09:20:00,Paypal,Standard,1,0,0.170903,1,521.58
4,T286338,P8427,Home & Kitchen,147.16,22.23,C84859,40,Other,2024-05-16 06:15:00,Credit Card,Express,2,1,0.131236,1,124.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,T806372,P3018,Electronics,401.91,90.47,C45368,69,Other,2024-05-15 14:06:00,Paypal,Express,2,0,0.183740,1,311.44
2035,T774644,P9838,Home & Kitchen,237.00,66.90,C25264,40,Other,2024-02-29 05:23:00,Credit Card,Express,4,1,0.220138,1,170.10
2036,T147329,P4051,Home & Kitchen,345.71,87.01,C80916,64,Male,2024-12-04 22:53:00,Credit Card,Standard,5,1,0.201077,1,258.70
2040,T949864,P5188,Home & Kitchen,716.83,1.72,C10475,60,Female,2024-03-27 15:17:00,Paypal,Express,5,1,0.002394,1,715.11
2043,T654714,P3675,Electronics,448.96,119.11,C83185,19,Female,2024-11-14 06:49:00,Paypal,Express,4,1,0.209675,1,329.85

In [24]:
df['Purchase_Day'] = df['Purchase_Timestamp'].dt.day_name()

In [25]:
df

,Transaction_ID,Product_ID,Product_Category,Price,Discount,Customer_ID,Customer_Age,Customer_Gender,Purchase_Timestamp,Payment_Method,Shipping_Type,Review_Rating,Purchase Probability,Dicount_pt,Product_Popularity,Price_After_Discount,Purchase_Day
0,T180787,P8392,Books,15.58,0.46,C66501,49,Male,2024-03-31 14:16:00,Credit Card,Express,1,0,0.028678,1,15.12,Sunday
1,T750990,P5778,Books,62.00,12.27,C12853,26,Other,2024-02-10 09:31:00,Debit Card,Express,2,1,0.165208,1,49.73,Saturday
2,T627626,P5136,Home & Kitchen,958.29,61.67,C74523,23,Male,2024-05-23 13:04:00,Debit Card,Express,4,0,0.060463,1,896.62,Thursday
3,T602068,P5945,Electronics,657.01,135.43,C31822,33,Female,2024-06-22 09:20:00,Paypal,Standard,1,0,0.170903,1,521.58,Saturday
4,T286338,P8427,Home & Kitchen,147.16,22.23,C84859,40,Other,2024-05-16 06:15:00,Credit Card,Express,2,1,0.131236,1,124.93,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,T806372,P3018,Electronics,401.91,90.47,C45368,69,Other,2024-05-15 14:06:00,Paypal,Express,2,0,0.183740,1,311.44,Wednesday
2035,T774644,P9838,Home & Kitchen,237.00,66.90,C25264,40,Other,2024-02-29 05:23:00,Credit Card,Express,4,1,0.220138,1,170.10,Thursday
2036,T147329,P4051,Home & Kitchen,345.71,87.01,C80916,64,Male,2024-12-04 22:53:00,Credit Card,Standard,5,1,0.201077,1,258.70,Wednesday
2040,T949864,P5188,Home & Kitchen,716.83,1.72,C10475,60,Female,2024-03-27 15:17:00,Paypal,Express,5,1,0.002394,1,715.11,Wednesday
2043,T654714,P3675,Electronics,448.96,119.11,C83185,19,Female,2024-11-14 06:49:00,Paypal,Express,4,1,0.209675,1,329.85,Thursday

In [26]:
df['Is_Weekend'] = df['Purchase_Timestamp'].dt.weekday >= 5

In [27]:
df

,Transaction_ID,Product_ID,Product_Category,Price,Discount,Customer_ID,Customer_Age,Customer_Gender,Purchase_Timestamp,Payment_Method,Shipping_Type,Review_Rating,Purchase Probability,Dicount_pt,Product_Popularity,Price_After_Discount,Purchase_Day,Is_Weekend
0,T180787,P8392,Books,15.58,0.46,C66501,49,Male,2024-03-31 14:16:00,Credit Card,Express,1,0,0.028678,1,15.12,Sunday,True
1,T750990,P5778,Books,62.00,12.27,C12853,26,Other,2024-02-10 09:31:00,Debit Card,Express,2,1,0.165208,1,49.73,Saturday,True
2,T627626,P5136,Home & Kitchen,958.29,61.67,C74523,23,Male,2024-05-23 13:04:00,Debit Card,Express,4,0,0.060463,1,896.62,Thursday,False
3,T602068,P5945,Electronics,657.01,135.43,C31822,33,Female,2024-06-22 09:20:00,Paypal,Standard,1,0,0.170903,1,521.58,Saturday,True
4,T286338,P8427,Home & Kitchen,147.16,22.23,C84859,40,Other,2024-05-16 06:15:00,Credit Card,Express,2,1,0.131236,1,124.93,Thursday,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,T806372,P3018,Electronics,401.91,90.47,C45368,69,Other,2024-05-15 14:06:00,Paypal,Express,2,0,0.183740,1,311.44,Wednesday,False
2035,T774644,P9838,Home & Kitchen,237.00,66.90,C25264,40,Other,2024-02-29 05:23:00,Credit Card,Express,4,1,0.220138,1,170.10,Thursday,False
2036,T147329,P4051,Home & Kitchen,345.71,87.01,C80916,64,Male,2024-12-04 22:53:00,Credit Card,Standard,5,1,0.201077,1,258.70,Wednesday,False
2040,T949864,P5188,Home & Kitchen,716.83,1.72,C10475,60,Female,2024-03-27 15:17:00,Paypal,Express,5,1,0.002394,1,715.11,Wednesday,False
2043,T654714,P3675,Electronics,448.96,119.11,C83185,19,Female,2024-11-14 06:49:00,Paypal,Express,4,1,0.209675,1,329.85,Thursday,False

## Outliers

In [28]:
for col in ['Price','Discount']:
    lower = df[col].quantile(0.01)
    upper = df[col].quantile(0.99)
    df[col] = np.clip(df[col], lower, upper)

In [29]:
df

,Transaction_ID,Product_ID,Product_Category,Price,Discount,Customer_ID,Customer_Age,Customer_Gender,Purchase_Timestamp,Payment_Method,Shipping_Type,Review_Rating,Purchase Probability,Dicount_pt,Product_Popularity,Price_After_Discount,Purchase_Day,Is_Weekend
0,T180787,P8392,Books,18.662,0.6144,C66501,49,Male,2024-03-31 14:16:00,Credit Card,Express,1,0,0.028678,1,15.12,Sunday,True
1,T750990,P5778,Books,62.000,12.2700,C12853,26,Other,2024-02-10 09:31:00,Debit Card,Express,2,1,0.165208,1,49.73,Saturday,True
2,T627626,P5136,Home & Kitchen,958.290,61.6700,C74523,23,Male,2024-05-23 13:04:00,Debit Card,Express,4,0,0.060463,1,896.62,Thursday,False
3,T602068,P5945,Electronics,657.010,135.4300,C31822,33,Female,2024-06-22 09:20:00,Paypal,Standard,1,0,0.170903,1,521.58,Saturday,True
4,T286338,P8427,Home & Kitchen,147.160,22.2300,C84859,40,Other,2024-05-16 06:15:00,Credit Card,Express,2,1,0.131236,1,124.93,Thursday,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,T806372,P3018,Electronics,401.910,90.4700,C45368,69,Other,2024-05-15 14:06:00,Paypal,Express,2,0,0.183740,1,311.44,Wednesday,False
2035,T774644,P9838,Home & Kitchen,237.000,66.9000,C25264,40,Other,2024-02-29 05:23:00,Credit Card,Express,4,1,0.220138,1,170.10,Thursday,False
2036,T147329,P4051,Home & Kitchen,345.710,87.0100,C80916,64,Male,2024-12-04 22:53:00,Credit Card,Standard,5,1,0.201077,1,258.70,Wednesday,False
2040,T949864,P5188,Home & Kitchen,716.830,1.7200,C10475,60,Female,2024-03-27 15:17:00,Paypal,Express,5,1,0.002394,1,715.11,Wednesday,False
2043,T654714,P3675,Electronics,448.960,119.1100,C83185,19,Female,2024-11-14 06:49:00,Paypal,Express,4,1,0.209675,1,329.85,Thursday,False

## Machine Learning

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np


X = df.drop(columns=['Price','Transaction_ID','Product_ID','Customer_ID','Purchase_Timestamp','Purchase Probability','Price_After_Discount'])
y = df['Price']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


categorical_cols = X_train.select_dtypes(include=['object', 'category']).columns

encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
X_train[categorical_cols] = encoder.fit_transform(X_train[categorical_cols])
X_test[categorical_cols] = encoder.transform(X_test[categorical_cols])


if y_train.dtype == 'object' or str(y_train.dtype) == 'category':
    le_y = LabelEncoder()
    y_train = le_y.fit_transform(y_train)
    y_test = y_test.apply(lambda val: le_y.transform([val])[0] if val in le_y.classes_ else -1)


model = LinearRegression()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("RÂ² Score:", r2)

Mean Squared Error: 21672.770561324403
RÂ² Score: 0.6973552098121006